<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Playlist</title>
<link rel="stylesheet" th:href="@{/css/createPlaylist.css}">
</head>
<body>
	<header>
		<h2 class="logo">TuneHub</h2>
		<nav class="navigation">
			<a href="#">Home</a> <a href="#">About</a> <a href="#">Contact</a>
		</nav>
	</header>
	<div class="container">
		<form action="addPlaylist" method="post">
			<label>Playlist name : </label> <input type="text" name="name" /> <br>
			<div th:each="song:${songs}">
				<input type="checkbox" th:name="songs" th:value="${song.id}" /> <label
					th:text="${song.name}"></label>
			</div>
			<center><input class= "btn" type="submit" value="Add to Playlist" /> </center>
		</form>
	</div>

</body>
</html>