<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Display Playlist</title>
<link rel="stylesheet" th:href="@{/css/displayPlaylist.css}">
<style type="text/css">
iframe {
	height: 90px;
	width: 300px;
}
</style>
</head>
<body>
	<header>
		<h2 class="logo">TuneHub</h2>
		<nav class="navigation">
			<a href="#">Home</a> <a href="#">About</a> <a href="#">Contact</a>
		</nav>
	</header>
	
	<div class= "container">
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plist:${allPlaylist}">
				<td th:text="${plist.name}"></td>
				<td>
					
						<li th:each="song:${plist.songs}"><span
							th:text="${song.name}"></span> <audio controls>
								<source th:src="${song.link}" type="audio/mpeg">
							</audio></li>
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>